alembic==1.16.5
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
argon2-cffi==25.1.0
bcrypt==5.0.0
boto3==1.43.88
click==8.4.2
colorama==0.4.6
fastapi==0.141.1
greenlet==3.5.4
h11==0.16.0
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.4.1
MarkupSafe==3.0.3
passlib==1.7.4
Pillow==12.3.0
psycopg[binary]==3.2.10
pydantic==2.13.4
pydantic-settings==2.15.0
pydantic_core==2.46.4
python-dotenv==1.2.3
python-multipart==0.0.32
SQLAlchemy==2.0.51
starlette==1.6.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
uvicorn==0.52.1
