<!doctype html>
<html lang='pt-br'>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>{{ titulo }}</title>
<link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css' rel='stylesheet'>
<link href='/static/css/style.css' rel='stylesheet'>
</head>
<body>
<div class='container-fluid'>
<div class='row'>
<nav class='col-2 sidebar'>
<h4>SIGAB</h4>
<hr>
<a href='/'>Dashboard</a>
<a href='/eleitores'>Eleitores</a>
<a href='/demandas'>Demandas</a>
<a href='/agenda'>Agenda</a>
</nav>
<main class='col-10 p-4'>
{% block conteudo %}{% endblock %}
</main>
</div>
</div>
</body>
</html>
